.blog {
  background-color: coloring(gray-50);

  &__go-home {
    padding-bottom: 24px;
    @media screen and (min-width: $bp-tablet) {
      padding-bottom: 32px;
    }
  }

  &__heading-wrapper {
    margin-bottom: 36px;

    @media screen and (min-width: $bp-desctop) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 24px;
      margin-bottom: 40px;
    }
  }

  &__heading {
    @media screen and (min-width: $bp-desctop) {
      margin-bottom: 0 !important;
    }
  }

  &__sorting-wrapper {
    @media screen and (min-width: $bp-desctop) {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 16px;
      width: 100%;
      flex-grow: 1;
    }
  }

  &__search {
    position: relative;
    width: 100%;
    max-width: 320px;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-desctop) {
      margin-bottom: 0;
    }
  }
  &__search-input {
    background-color: coloring(base-white);
    border: 1px solid coloring(gray-300);
    font-size: 14px;
    border-radius: 2px;
    padding: 13px 16px 13px 48px;
    width: 100%;
    height: 50px;

    &::placeholder {
      color: coloring(text-subtitle);
    }
    &:focus {
      border-color: coloring(gray-600);
      outline: none;
    }
  }
  &__search-btn {
    position: absolute;
    width: 40px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
    border: none;
    padding-left: 12px;
  }

  &__sorted {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    gap: 4px;
  }
  &__sorted-title {
    color: coloring(gray-900);
    font-size: 12px;
  }

  &__select-wrapper {
    position: relative;

    &::after {
      content: url('data:image/svg+xml,<svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.684985 0.6997C0.931632 0.433433 1.33153 0.433433 1.57817 0.6997L4.5 3.85395L7.42183 0.6997C7.66847 0.433433 8.06837 0.433433 8.31501 0.6997C8.56166 0.965966 8.56166 1.39767 8.31501 1.66394L4.94659 5.3003C4.69995 5.56657 4.30005 5.56657 4.05341 5.3003L0.684985 1.66394C0.438338 1.39767 0.438338 0.965966 0.684985 0.6997Z" fill="%2318171C"/></svg>');
      position: absolute;
      top: 40%;
      right: 16px;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  &__sorted-select {
    background-color: coloring(base-white);
    font-size: 14px;
    padding: 13px 16px;
    border: 1px solid coloring(gray-300);
    border-radius: 2px;
    width: 100%;
    appearance: none;
    height: 50px;

    &:focus {
      border-color: coloring(gray-600);
      outline: none;
    }
  }

  &__list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

    @media screen and (min-width: $bp-tablet) {
      gap: 64px 24px;
    }
  }

  &__item {
    flex-basis: 100%;

    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 48px) / 3);
    }
  }
}

.blog-list {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/bg/noise-white.png);
    background-repeat: repeat;
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
  }

  &__wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  &__heading {
    margin-bottom: 0 !important;
  }

  &__list {
    padding-bottom: 32px;

    @media screen and (min-width: $bp-desctop) {
      padding-bottom: 0;
    }
  }

  &__item {
    height: auto;
  }
  &__slider {
    overflow: hidden;
  }
}

.blog-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  height: 100%;

  &__image {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    aspect-ratio: 1 / 1;
    margin-bottom: 16px;

    & img {
      width: 100%;
      height: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      width: 60%;
      height: 6px;
      background-image: linear-gradient(
        345deg,
        transparent 6px,
        coloring(primary-red-700) 0
      );
      top: 0;
      left: 0;
    }

    &--first {
      &::after {
        top: auto;
        bottom: 0;
        left: 0;
        width: 6px;
        height: 60%;
        background-image: linear-gradient(
          250deg,
          transparent 6px,
          var(--primary-red-700) 0
        );
      }
    }
    &--last {
      &::after {
        top: auto;
        bottom: 0;
        right: 0;
        left: auto;
        width: 6px;
        height: 60%;
        background-image: linear-gradient(
          110deg,
          transparent 6px,
          var(--primary-red-700) 0
        );
      }
    }
  }

  &__heading {
    letter-spacing: 2px;
    margin-bottom: 8px;
  }
  &__description {
    margin-bottom: 8px;
  }
  &__publish {
    font-size: 16px;
    color: coloring(text-subtitle);
    margin-bottom: 0;
  }
}
