.first-screen {
  position: relative;
  background-image: url(../image/bg/first-screen-bg.jpg);
  background-size: cover;
  background-position: center;

  &__content {
    position: relative;
    z-index: 1;

    padding: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      padding: 160px 0;
      max-width: 50%;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &__logo-image {
    background-color: coloring(base-white);
    mask-image: url(../image/logo_white_small.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    transition: background-color 0.25s;
    width: 80px;
    height: 93px;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      &:hover {
        background-color: coloring(primary-red-600);
      }

      width: 95px;
      height: 112px;
      margin-bottom: 24px;
    }
  }

  &__heading {
    color: coloring(base-white);
    margin-bottom: 16px;
    transition: color 0.25s;

    &:hover {
      color: coloring(primary-red-600);
    }
  }

  &__description {
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.15;
    font-size: 28px;
    color: coloring(gray-300);
    margin-bottom: 16px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }
  }
  &__text {
    color: coloring(gray-300);
    margin-bottom: 32px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }
  }

  &__wrapper-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    flex-direction: column;
    margin-bottom: 32px;
    width: 100%;

    @media screen and (min-width: $bp-mobile) {
      flex-direction: row;
    }
  }
  &__btn {
    width: 100%;
    text-align: center;

    @media screen and (min-width: $bp-mobile) {
      width: 196px;
    }
  }

  &__wripper-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
