.lightbox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;

  @media screen and (min-width: $bp-tablet) {
    gap: 40px 24px;
  }
  &__content {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 24px) / 2);
    }
  }

  &__image-wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 8px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 16px;
      height: 308px;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    transition: transform 0.25s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__heading-wrapper {
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__heading-wrapper-line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .lightbox__heading {
      margin-bottom: 0;
    }
  }
  &__heading {
    margin-bottom: 8px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 0;
    }
  }
  &__badges {
    margin-bottom: 0;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 16px;
    }
  }
  &__project {
    color: coloring(primary-red-600);
    margin-bottom: 0;
  }
}

.lightbox-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: coloring(base-black, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 5;
  overflow: scroll;
  /* opacity: 0;
  visibility: hidden;
  pointer-events: none; */

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &__content {
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }
  &__link,
  &__btn-close {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: coloring(gray-900, 0.4);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      width: 40px;
      height: 40px;
    }
  }
  &__btn-close {
    border: none;
    top: 8px;
    right: 8px;

    @media screen and (min-width: $bp-tablet) {
      top: 24px;
      right: 24px;
    }

    &:hover,
    &:active {
      .lightbox-modal__close-icon {
        fill: coloring(primary-red-600);
      }
    }
  }
  &__close-icon {
    fill: coloring(base-white);
    transition: fill 0.25s;
  }

  &__link {
    top: 40px;
    right: 8px;

    @media screen and (min-width: $bp-tablet) {
      top: 24px;
      right: 80px;
    }
  }
}
