.link {
  position: relative;
  color: coloring(base-white);
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.25s;
}

@media screen and (min-width: $bp-desctop) {
  .link::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: coloring(primary-red-600);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.link-disabled,
.link-disabled:hover {
  color: coloring(gray-400) !important;
  cursor: not-allowed;

  &::before {
    content: none;
  }
}
